/* Add CSS Styling */
.odd-numbered {
  background-color: pink;
  font-family: "Verdana", "DejaVu Sans", san-serif;
}

.adjust-font-size {
  font-size: 24px;
}

#second {
  color: blue;
  font-size: 36px;
}

#fourth {
  background-color: lightgreen;
  font-weight: bold;
}